.bg-image1 {
    background-image: url("../img/banner-bg.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-image2 {
    background-image: url("../img/Untitled.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}